---
import SideMenuItem from './SideMenuItem.astro'
import ExpenseIcon from '../../icons/Expense.astro'
import LoanIcon from '../../icons/Loan.astro'
import AsideMenuTemplate from './AsideMenuTemplate.astro'
import HomeIcon from '../../icons/Home.astro'
import ThemeIcon from '../ThemeIcon.astro'
---
<aside class="flex flex-col [grid-area:aside-l]">
<AsideMenuTemplate>
	<ul>
        <SideMenuItem href='/#'>
			<HomeIcon />
			<span>Home</span>
		</SideMenuItem>
		<SideMenuItem href='/expenses'>
			<ExpenseIcon />
			<span>Expenses</span>
		</SideMenuItem>
		<SideMenuItem href='/loans'>
			<LoanIcon />
			<span>Loans</span>
		</SideMenuItem>
	</ul>
</AsideMenuTemplate>
</aside>