---
interface Props {
	href?: string
}

const { href } = Astro.props
---

<li>
	<a
		class="m-5 flex w-[140px] items-center gap-4 rounded-lg p-3 text-chestnut-600 hover:bg-chestnut-50 active:bg-chestnut-100 dark:bg-chestnut-900 dark:text-chestnut-300 dark:shadow-gray-900 dark:hover:bg-chestnut-400 dark:active:bg-chestnut-600"
		href={href}
	>
		<slot />
	</a>
</li>
