---
import Layout from '../../layouts/Layout.astro'
import { formatDateToAPI } from '../../utils/Utilities'
import { addExpense } from '../../utils/ApiUtils'
import type { Expense } from '../../types/ExpenseTrackerTypes'

if (Astro.request.method === 'POST') {
	try {
		const data = await Astro.request.formData()
		const description: string = data.get('description') as string
		const amount: number = data.get('amount') as unknown as number
		const date: string = data.get('date') as string
		const category: string = data.get('category') as string
        const request: Expense = {
            description,
            amount,
            date: formatDateToAPI(date),
            category
        }

		addExpense(request)
        
	} catch (error) {
        if (error instanceof Error) {
            console.log(error)
        }
    }
}
---

<Layout title="Expense Tracker: Add a new expense">
	<main class="flex w-full flex-col [grid-area:main]">
		<div class="h-full w-full shadow-lg">
			<h1 class="mb-5 mt-20 text-center text-2xl text-chestnut-700">Add a new expense 💸</h1>
			<form class="mx-auto max-w-md" method="post">
				<div class="group relative z-0 mb-5 w-full">
					<input
						type="text"
						name="description"
						id="description"
						class="peer block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:border-chestnut-600 focus:outline-none focus:ring-0 dark:border-gray-600 dark:text-white dark:focus:border-chestnut-500"
						placeholder=" "
						required
					/>
					<label
						for="description"
						class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-chestnut-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-chestnut-600 dark:text-gray-400 peer-focus:dark:text-chestnut-500 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
						>Description</label
					>
				</div>
				<div class="group relative z-0 mb-5 w-full">
					<input
						type="number"
						step=".01"
						name="amount"
						id="amount"
						class="peer block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:border-chestnut-600 focus:outline-none focus:ring-0 dark:border-gray-600 dark:text-white dark:focus:border-chestnut-500"
						placeholder=" "
						required
					/>
					<label
						for="amount"
						class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-chestnut-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-chestnut-600 dark:text-gray-400 peer-focus:dark:text-chestnut-500 rtl:peer-focus:translate-x-1/4"
						>Amount</label
					>
				</div>
				<div class="group relative z-0 mb-5 w-full">
					<input
						type="date"
						name="date"
						id="date"
						class="peer block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:border-chestnut-600 focus:outline-none focus:ring-0 dark:border-gray-600 dark:text-white dark:focus:border-chestnut-500"
						placeholder=" "
						required
					/>
					<label
						for="date"
						class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-chestnut-400 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-chestnut-600 dark:text-gray-400 peer-focus:dark:text-chestnut-500 rtl:peer-focus:translate-x-1/4"
					></label>
				</div>
				<div class="group relative z-0 mb-5 w-full">
					<label for="category" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
						>Select a category</label
					>
					<select
						id="category"
                        name="category"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-chestnut-500 focus:ring-chestnut-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-chestnut-500 dark:focus:ring-chestnut-500"
					>
						<option value="OTHERS">Others</option>
						<option value="ENTERTAINMENT">Entertainment</option>
						<option value="FOOD">Food</option>
						<option value="TRANSPORTATION">Transportation</option>
						<option value="HEALTH">Health</option>
						<option value="EDUCATION">Educación</option>
					</select>
				</div>
				<button
					type="submit"
					class="w-full rounded-lg bg-chestnut-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-chestnut-800 focus:outline-none focus:ring-4 focus:ring-chestnut-300 dark:bg-chestnut-600 dark:hover:bg-chestnut-700 dark:focus:ring-chestnut-800 sm:w-auto"
					>Submit</button
				>
			</form>
		</div>
	</main>
</Layout>
