---
import Layout from '../layouts/Layout.astro'
import TableComponent from '../components/table/Table.astro'
import ExpenseRow from '../components/table/Expense.astro'
import type { Expense } from '../types/ExpenseTrackerTypes'
import { buildExpensesChartData } from '../utils/Utilities'
import PieChart from '../components/PieChart.astro'

const response = await fetch("https://expense-tracker-29rd.onrender.com/expense-tracker/expenses")
const data = await response.json()

---

<Layout title="Expense Tracker">
	<main class="flex w-full flex-col [grid-area:main]">
		<PieChart data={buildExpensesChartData(data)} />
		<TableComponent isLoan={false}>
			{data && data.map((expense: Expense) => <ExpenseRow expense={expense} />)}
		</TableComponent>
	</main>
</Layout>
