---
import Layout from '../layouts/Layout.astro'
import LeftMenu from '../components/menu/LeftMenu.astro'
---

<Layout title="Expense Tracker">
	<main class="text-chestnut-600 flex w-full flex-col [grid-area:main]">
		<div class="w-full rounded-lg p-5 text-center shadow-lg">
			<span class="">Upcomping expenses</span>
		</div>
		<div id="expenses" class="w-full  gap-2">
			<div class="mt-3 [grid-area:loans]">
				<div class="w-full rounded-lg p-5 text-center shadow-lg">
					<div class="w-full border-b border-gray-100 p-2"><span>Loans</span></div>

					<table class="w-full">
						<tr>
							<td class="p-2"> BBVA</td>
							<td class="p-2"> 23/01</td>
							<td class="amount p-2"> 49.99</td>
						</tr>
						<tr>
							<td class="p-2"> BBVA</td>
							<td class="p-2"> 23/01</td>
							<td class="amount p-2"> 49.99</td>
						</tr>
						<tr>
							<td class="p-2"> BBVA</td>
							<td class="p-2"> 23/01</td>
							<td class="amount p-2"> 49.99</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="mt-3 [grid-area:expenses]">
				<div class="w-full rounded-lg p-5 text-center shadow-lg">
					<div class="w-full border-b border-gray-100 p-2"><span>Scheduled expenses</span></div>

					<table class="w-full text-left">
						<tr>
							<td class="p-2">🏠 Alquiler</td>
							<td class="p-2"> 23/01</td>
							<td class="amount p-2"> 49.99</td>
						</tr>
						<tr>
							<td class="p-2">⚡️ Luz</td>
							<td class="p-2"> 23/01</td>
							<td class="amount p-2"> 49.99</td>
						</tr>
						<tr>
							<td class="p-2">💧 Agua</td>
							<td class="p-2"> 23/01</td>
							<td class="amount p-2"> 49.99</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	#expenses {
		display: grid;
		grid-template-areas: 'loans expenses';
		grid-template-columns: 1fr 1fr;
	}

	.amount {
		text-align: right;
	}
</style>
