---
import Layout from '../layouts/Layout.astro'
import HeadComponent from '../components/table/HeadComponent.astro'
import RowComponent from '../components/table/RowComponent.astro'
---

<Layout title="Expense Tracker">
	<table class="mt-1 w-[620px] table-fixed rounded-lg text-left text-sm shadow-lg">
		<HeadComponent />
		<tbody>
			<RowComponent
				date={new Date()}
				description="Test expense AND A LONGONGONGONONONOGNONGONGOGNOGN DESCRIPTION"
				amount={699.99}
				category={'ENTERTAINMENT'.toUpperCase()}
			/>
			<RowComponent
				date={new Date()}
				description="Test expense AND A LONGONGONGONONONOGNONGONGOGNOGN DESCRIPTION"
				amount={699.99}
				category={'FOOD'.toUpperCase()}
			/>
			<RowComponent
				date={new Date()}
				description="Test expense AND A LONGONGONGONONONOGNONGONGOGNOGN DESCRIPTION"
				amount={699.99}
				category={'HEALTH'.toUpperCase()}
			/>
			<RowComponent
				date={new Date()}
				description="Test expense AND A LONGONGONGONONONOGNONGONGOGNOGN DESCRIPTION"
				amount={699.99}
				category={'TRANSPORTATION'.toUpperCase()}
			/>
			<RowComponent
				date={new Date()}
				description="Test expense AND A LONGONGONGONONONOGNONGONGOGNOGN DESCRIPTION"
				amount={699.99}
				category={'TRANSPORTATION'.toUpperCase()}
			/>
			<RowComponent
				date={new Date()}
				description="Test expense AND A LONGONGONGONONONOGNONGONGOGNOGN DESCRIPTION"
				amount={699.99}
				category={'TRANSPORTATION'.toUpperCase()}
			/>
		</tbody>
	</table>
</Layout>

<style></style>
