---
import ExpenseIcon from '../icons/Expense.astro'
import LoanIcon from '../icons/Loan.astro'
import SideMenuItem from './SideMenuItem.astro'
---

<nav class="flex flex-1 flex-col shadow-lg">
	<div class="flexbg-white pt-5 dark:bg-slate-800">
		<ul>
			<SideMenuItem>
				<ExpenseIcon />
				<span>Expenses</span>
			</SideMenuItem>
			<SideMenuItem>
				<LoanIcon />
				<span>Loans</span>
			</SideMenuItem>
		</ul>
	</div>
</nav>
