---
import TableHead from './head/Head.astro'

interface Props {
	isLoan: boolean
}

const { isLoan } = Astro.props
---

<table class="mt-1 w-full table-fixed rounded-lg text-left text-sm shadow-lg">
	<TableHead isLoan={isLoan} />
	<tbody>
		<slot />
	</tbody>
</table>
