---
import Header from '../components/Header.astro'
import AsideMenuTemplate from '../components/menu/AsideMenuTemplate.astro'
import LeftMenu from '../components/menu/LeftMenu.astro'
import RightMenu from '../components/menu/RightMenu.astro'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-chestnut-950">
		<div id="app" class="relative h-screen gap-2">
			<LeftMenu />

			<slot />

			<RightMenu < div />
		</div>

		<style>
			#app {
				display: grid;
				grid-template-areas: 'aside-l main aside-r';
				grid-template-columns: 1fr 2fr 1fr;
			}
		</style>
		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					white 60%
				);
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}

			body * {
				@apply transition-colors duration-200;
			}
		</style>
	</body>
</html>
